html,
body,
#app,
#main {
    height: 100%;
    margin: 0;
}
#main {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#main>#column{
    display: inline-block;
}


#category {
    height: 100%;
    display: inline-block;
    width: 100%;
    position: relative;
}

#columnButton {
    height: 100%;
    width: 20%;
    display: inline-block;
}

#columnData {
    height: 100%;
    width: 40%;
    display: inline-block;
}

h1 {
    margin: 0px;
    padding-top: 2%;
    color: white;
    text-align: center;
}

#add {
    color: white;
    background-color: green;
    padding: 2px 6px;
    margin: 1%;
    font-size: 16px;
    border-radius: 50%;
    border: none;
    box-shadow: 1px 1px 5px black;
    position: absolute;
    bottom: 2%;
    right: 2%;
}

#newColumn {
    position: absolute;
    height: 100%;
    width: 20%;
    background-color: grey;
    color: white;
    border: none;
    font-size: 400px;
    top: 0;
    padding: 0;
    margin: 0;
}

#app {
    overflow-x: auto;
}

.overlay{
    position: absolute;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

input[type=text], select {
    width: 70%;
    padding: 12px 20px;
    margin: auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 35%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 3% 3% auto 3%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.module{
    background-color: white;
    opacity: 1;
    width: 50%;
    position: absolute;
    top: 20%;
    left: 20%;
    border-radius:20px;
    text-align: center;
    font-size:24px;
    padding: 5%;
}

label {
    display: block;
    text-align: left;
    margin-left: 15%;
    margin-top: 2%;
}

#nodes{
    width: 40%;
    margin-right: 0;
    height: 100%;
}

.Card{
    background-color: white;
    border-radius: 2%;
    width: 90% !important; 
    margin: auto;
    word-wrap: break-word;
    height: 90%;
    overflow-x: auto;
    box-shadow: 2px 2px 10px black;
    padding-left: 2px;
    opacity: .9;
    margin-bottom: 4px;
    padding: 1%;
}

.Flipcard-flipper,
.Flipcard-front,
.Flipcard-back{
    width: 100%;
    height:90%;
    overflow-y: hidden;

}

.Flipcard{
    display: block;
    height: 12%;
}

#node-cards{
    height: 100%;
    position: absolute;
    width: 100%;
    overflow: auto;
}

.number{
    font-size: 3em;
    text-align: center;
}
.date{
    color: grey;
    margin-left: 10%;
}

.title{
    text-align: center;
}

.note{
    white-space: normal;
    margin-left: 10%;
}